.trading-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
// Dev mock of a simple navbar
.proto-nav {
    display: flex;
    align-items: center;
    & > * {
        margin: auto;
    }
}