$bg-primary: #ffffff;
$font-content: #111820;
$font-light: #78848d;
$img-backdrop: #f2f2f2;
$info: red;
$primary: #4a90df;
$border-color: #b0b3b6;

// For reaction icons
$icon-label-bg: #303030;
$icon-label-font: white;